<?xml version="1.0" encoding="UTF-8"?>
<module id="5002" version="2013110500">
  <modulename>glossary</modulename>
  <sectionid>1330</sectionid>
  <sectionnumber>8</sectionnumber>
  <idnumber></idnumber>
  <added>1432049946</added>
  <score>0</score>
  <indent>0</indent>
  <visible>0</visible>
  <visibleold>0</visibleold>
  <groupmode>0</groupmode>
  <groupingid>0</groupingid>
  <groupmembersonly>0</groupmembersonly>
  <completion>0</completion>
  <completiongradeitemnumber>$@NULL@$</completiongradeitemnumber>
  <completionview>0</completionview>
  <completionexpected>0</completionexpected>
  <availablefrom>0</availablefrom>
  <availableuntil>0</availableuntil>
  <showavailability>1</showavailability>
  <showdescription>0</showdescription>
  <availability_info>
  </availability_info>
</module>